//--------------------------------------------------------------------------------------//
//                                                                                      //
//                                     *Color Text                                      //
//                                                                                      //
//--------------------------------------------------------------------------------------//

//COLOR CUBE
.tundora {
  color: $tundora;
}
.suvaGray {
  color: $suvaGray;
}
.cornFlowerBlue {
  color: $cornFlowerBlue;
}
.pumice {
  color: $pumice;
}
.blueLagoon {
  color: $blueLagoon;
}
.cornHarvest {
  color: $cornHarvest;
}
.fountainBlue {
  color: $fountainBlue;
}
.alizarinCrimson {
  color: $alizarinCrimson;
}

//MEDIAN CUT
.dawnPink {
  color: $dawnPink;
}
.codGray {
  color: $codGray;
}
.pewter {
  color: $pewter;
}
.sandDune {
  color: $sandDune;
}
.osloGray {
  color: $osloGray;
}

//MATERIAL DESIGN
.anzac {
  color: $anzac;
}
.scorpion {
  color: $scorpion;
}
.keppel {
  color: $keppel;
}
.merlin {
  color: $merlin;
}
.tan {
  color: $tan;
}

//--------------------------------------------------------------------------------------//
//                                                                                      //
//                                     *HANDWRITING & SIZE                              //
//                                                                                      //
//--------------------------------------------------------------------------------------//

.handwrite-big {
  font-family: "Kristi", cursive;
  font-size: 64pt;
  color: $cornFlowerBlue;
}

.handwrite-small {
  font-family: "Kristi", cursive;
  font-size: 32pt;
  color: $cornFlowerBlue;
}
.txt-small {
  font-size: 0.6em;
}
//--------------------------------------------------------------------------------------//
//                                                                                      //
//                                     *FONT FAMILY                                     //
//                                                                                      //
//--------------------------------------------------------------------------------------//

.dm-serif {
  font-family: "DM Serif Display", serif;
}

/**INDENT**/

.indent-2 {
  text-indent: 1.2em;
}
